
<div class="page-header smaller-space">
    <h3>Debug Console</h3>
</div>
<p class="pull-right">
    <a class="btn btn-primary" id="clear_console">Clear</a>
    <a class="btn btn-primary" id="toggle_logging">Pause</a>
    <a href="/" class="btn btn-primary" id="back">Back</a>
</p>
<p>The debug console shows all events happening for all connections and messages for this app. <br><strong>Note:</strong> More recent events are displayed on top.</p>

<div id="display">
    <table id="debug_console" class="table">
        <thead>
        <tr>
            <th id="debug-expand"></th>
            <th id="debug-type">Event</th>
            <th id="debug-client-id">Client Id</th>
            <th id="debug-details">Message Details</th>
            <th id="debug-timestamp">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr id="debug_waiting">
            <td colspan="5">
                <h4>Waiting for events...</h4>
            </td>
        </tr>
        </tbody>
    </table>
</div>